﻿<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
        @Html.ActionLink("Beauty4Days", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        
        <div id="navbarSupportedContent" class="navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Client", "Index", "Client", null, new {@class = "nav-link"})</li>
                <li class="nav-item">@Html.ActionLink("Pedicure", "Index", "Pedicure", null, new {@class = "nav-link"})</li>
                <li class="nav-item">@Html.ActionLink("Manicure", "Index", "Manicure", null, new {@class = "nav-link"})</li>
                <li class="nav-item">@Html.ActionLink("Hair Style", "Index", "HairStyle", null, new {@class = "nav-link"})</li>
            </ul>
            @Html.Partial("_LoginPartial")
      
        </div>
    </div>
</nav>

