﻿@model Beauty4DaysWebApp.ViewModel.ClientViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Client"))
{
    <hr/>

    @Html.HiddenFor(m => m.Client.Id)
    @Html.AntiForgeryToken()

    <div class="form-group row">
        @Html.LabelFor(m => m.Client.ClientName, new { @class = "col-form-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Client.ClientName, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.Client.ClientName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.Client.MembershipTypeId, new { @class = "col-form-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Client.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "MembershipName"), "Select Membership Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Client.MembershipTypeId, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.Client.BirthDate, new { @class = "col-form-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Client.BirthDate,"{0:d MMM yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Client.BirthDate, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group row">

        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(m => m.Client.IsSubscribed)
                @Html.LabelFor(m => m.Client.IsSubscribed, new { @class = "col-form-label" })
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-10">
            <button type="submit" class="btn btn-outline-primary"> Save </button>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
