﻿@model Beauty4DaysWebApp.Models.Client
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.ClientName</h2>

<ul>
    @if (Model.BirthDate.HasValue)
    {
        <li>
            Birth Date: @Model.BirthDate.Value.ToShortDateString()
        </li>
    }
    <li>
        Membership: @Model.MembershipType.MembershipName
    </li>
</ul>


