﻿@model IEnumerable<Beauty4DaysWebApp.Models.Client>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client List</h2>
    <table id="clientInfo" class="table table-hover" >
        <thead>
        <tr class="td-header">
            <th>Client Name</th>
            <th>Membership Type</th>
            <th>Discount Rate</th>
            <th>Remove Client</th>
        </tr>
        </thead>
        <tbody>
      </tbody>
    </table>

@section scripts
{
    <script>
        $(document).ready(function () {

           var table = $("#clientInfo").DataTable({
                ajax: {
                    url: "/api/clients",
                    dataSrc: ""
                },
                columns:[
                {
                    data: "clientName",
                    render: function (data, type, client) {
                        return "<a href = '/client/details/" + client.id + "'>" + client.clientName + "</a>";
                    }
                },
                {
                    data: "membershipType.membershipName"
                },
                {
                    data: "membershipType.discountRate"    
                },
                {
                    data: "id",
                    render: function(data) {
                        return "<button class ='btn btn-outline-danger removeClient' clientId ="+ data + "> Delete </button>";
                    }
                }]
            });

            $("#clientInfo").on("click", ".removeClient",
                function() {

                    var clickedButton = $(this);
                    bootbox.confirm("Are you sure you want to delete this client?",
                        function (result) {
                            if (result) {

                                $.ajax({
                                    url: "/api/clients/" + clickedButton.attr("clientId"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(clickedButton.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
        });
    });
    </script>
    
}