﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Custom CSS Files*/
.bg-dark {
    background-color: #d907c2 !important;
}

.body{
    padding-top: 15px;
    padding-bottom: 15px;
}
.body-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.input-validation-error {
    border: 2px solid red;
}

.form-control {
    border-radius: 1.050em;
}

td,th {
    text-align: center;
    vertical-align: middle;
}

.td-header {
    background-color: #c07affbf;
}